.newProductsSection {
  width: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 80px 0;
  margin-top: 140px;

  .prueba {
    display: flex;
    margin: 0 50px;
    width: 100%;

    .newProductsTitles {
      display: flex;
      flex-direction: column;
      width: 30%;

      .title {
        font-size: 3rem;
        line-height: 3.6rem;
      }

      .newProductsList {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .selected {
          cursor: pointer;
          font-weight: bold;
          font-size: 2rem;
        }

        .notSelected {
          cursor: pointer;
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.popularProductsSection {
  width: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-top: 1rem;

  .title {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  .popularProductsList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .selected {
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .notSelected {
      cursor: pointer;
      font-weight: 400;
      font-size: 1rem;
    }
  }

}

.lbookProductsSection {
  width: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-top: 1rem;

  .title {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  .lbookProductsList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .selected {
      cursor: pointer;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .notSelected {
      cursor: pointer;
      font-weight: 400;
      font-size: 1rem;
    }
  }

}