.swiperHeroCont {
  .swiperHero {
    width: 100%;

    .swiperSlide {
      display: flex;
      justify-content: center;
      align-items: center;

      .slideCont {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        .slideText {
          position: absolute;
          color: white;
          font-weight: bold;
          font-size: xx-large;
          top: 50%;
          left: 7%;
        }
      }
    }
  }
}

.newProductsSection {
  width: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  padding: 3rem;

  .newProductsTitles {
    width: 25%;
    display: flex;
    flex-direction: column;
  }

  .swiperNewProductsCont {
    width:75%;
    padding: 0 72px;

    .swiperNewProducts {
      width: 100%;

      .swiperSlide {
        display: flex;
        justify-content: center;
        align-items: center;

        .slideCont {
          width: 100%;
          display: flex;
          flex-direction: column;

          > img {
            display: block;
            width: 50px;
            height: auto;
            object-fit: cover;
          }

          .slideText {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
